<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gameex.dw.hospital">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/dc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity">
        </activity>
        <activity android:name=".updateAndRegnum.UpdateRegnumActivity">
        </activity>
        <activity
            android:name=".bottomBar.BottomBarActivity"
            android:label="@string/title_activity_bottom_bar">
        </activity>
        <activity
            android:name=".appStart.StartActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".sign.SignActivity">
        </activity>
    </application>

</manifest>